
            *{
                margin: 0;
                padding: 0;
                  font-family:'poppins' sans-serif ;
            }
            .banner{
                background:linear-gradient(rgba(0,0,0,0.5),#29d1c0), url(https://i.pinimg.com/originals/17/bd/af/17bdafcd739a263a6add4a2252aec010.jpg);
                background-size: cover;
                background-position:center ;
               height: 100vh;
               text-align: center;
               text-decoration: none;
               color: white;
               padding: 130px;
            }
            .banner h1{
                font-size: 100px;
                font-family: 'kaushan script','cursive';

            }
            .banner h1 p{
                font-size:120px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            .banner-btn{
                margin: 70px auto 0;

            }
                .banner-btn a{
                width: 120px;
                text-decoration: none;
                display: inline-block;
                margin: 0 1opx;
                padding: 12px 0;
                color: white;                   
                border:0.5px solid white  ;
                position: relative;
                z-index: 1;
                position: ;
                } 
                .banner-btn a span{
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: white;
                    z-index: -1;
                    transition: 0.5;

                }
                .banner-btn a span
                {
                    
                }


            
             .navbar{
             
                width: 200px;
                height: 100vh;
                position: fixed;
                right: 0;
                top: 0;
                background: #009688;
                z-index: 1;

            }
            .navbar ul{

                list-style: none;
                margin: 50px 50px;
                
            }
            .navbar ul a{
            text-decoration: none;
            color: white;
        }
        .menu{
            width: 50px;
            height: 50px;
            background: #009688;
            text-align: center;
            position: fixed;
            right: 30px;
            top: 20px;
            z-index: 3;
            cursor: pointer;
        }
            
        
